html {
  width: 100%;
  box-sizing: border-box;
}

body {
  font-family: 'Raleway', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

main {
  width: 97%;
  max-width: 1300px;
  margin: 0 auto;
}
